<div class="factura-container">
  <h2>Facturas</h2>

  <div *ngIf="errorMsg" class="alert alert-danger text-center">
  {{ errorMsg }}
</div>
  <input
    type="text"
    [(ngModel)]="filtro"
    (input)="filtrarFacturas()"
    placeholder="Buscar por nombre del cliente..."
    style="margin-bottom: 1rem; padding: 0.5rem; width: 100%;"
  />

  <!-- Tabla -->
  <table class="table" *ngIf="facturasFiltradas.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Método de Pago</th>
        <th>Tour</th>
        <th>Precio Base</th>
        <th>Personas</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Total</th>
        <th>Cliente</th>
        <th>Reserva</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturasFiltradas">
        <td>{{ factura.idFactura }}</td>
        <td>{{ factura.fechaFact | date: 'yyyy-MM-dd' }}</td>
        <td>{{ factura.metodoPago }}</td>
        <td>{{ factura.nombre_tour }}</td>
        <td>{{ factura.precio_tour | currency }}</td>
        <td>{{ factura.cantidadpersonas }}</td>
        <td>{{ factura.subtotal | currency }}</td>
        <td>{{ factura.iva | currency }}</td>
        <td>{{ factura.total | currency }}</td>
        <td>{{ factura.nombrecliente }} {{ factura.apellido_1 }} {{ factura.apellido_2 }}</td>
        <td>#{{ factura.numreserva }}</td>
        <td>
          <button class="btn-eliminar" (click)="eliminarFactura(factura.idFactura)">
            <i class="bi bi-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="facturasFiltradas.length === 0 && !errorMsg">
    <p>No hay facturas registradas.</p>
  </div>
</div>
