<!-- Contenedor principal -->
<div class="form-container container mt-4">
  <h2 class="text-center">Registrar Tour</h2>

  <form (ngSubmit)="crearTour()" #tourForm="ngForm">
    <div class="row mb-3">
      <div class="col">
        <label for="nombre" class="form-label">Nombre</label>
        <input id="nombre" type="text" class="form-control" placeholder="Ej: Caminata al volcán" required [(ngModel)]="tour.nombre" name="nombre">
      </div>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea id="descripcion" class="form-control" placeholder="Resumen atractivo del tour" rows="2" required [(ngModel)]="tour.descripcion" name="descripcion"></textarea>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="tipo" class="form-label">Tipo</label>
        <select id="tipo" class="form-control" required [(ngModel)]="tour.tipo" name="tipo">
          <option value="" disabled selected>Seleccione un tipo</option>
          <option>Aventura</option>
          <option>Naturaleza</option>
          <option>Cultural</option>
          <option>Relax</option>
          <option>Gastronómico</option>
        </select>
      </div>
      <div class="col">
        <label for="ubicacion" class="form-label">Ubicación</label>
        <input id="ubicacion" type="text" class="form-control" placeholder="Provincia, cantón, distrito" required [(ngModel)]="tour.ubicacion" name="ubicacion">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="preciobase" class="form-label">Precio base</label>
        <input id="preciobase" type="text" class="form-control" placeholder="Ej: 45000" required [(ngModel)]="tour.preciobase" name="preciobase" inputmode="numeric" pattern="^[0-9]+(\.[0-9]{1,2})?$">
      </div>
      <div class="col">
        <label for="disp" class="form-label">Disponibilidad</label>
        <select id="disp" class="form-control" required [(ngModel)]="tour.disponibilidad" name="disponibilidad">
          <option [ngValue]="1">Disponible</option>
          <option [ngValue]="2">No Disponible</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="img" class="form-label">Imagen del tour</label>
      <input id="img" type="file" class="form-control" (change)="uploadTourImage($event)" accept=".png,.jpg,.jpeg" />
    </div>

    <!-- Vista previa de imagen -->
    <div *ngIf="imagePreview" class="text-center mb-3">
      <img [src]="imagePreview" style="max-width: 250px; border-radius: 0;" />
    </div>

    <!-- Botón de envío -->
    <div class="text-center">
      <button class="btn custom-btn" type="submit">Guardar Tour</button>
    </div>
  </form>
</div>